.a{
    color: #4E47FF;
    margin: 0px 50px;
    font-weight: bold;
}
.b{
    color: #FFFFFF;
    background-color: #4E47FF;
    margin: 0px 50px;
    padding: 12px 35px; border-radius: 10px;
    border: none;
}
.c{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.d{
    text-align: center;
    margin: 100px 50px;
}
.e{
    font-weight: bold;
    font-size: 40px;
}
header{
    background-image: url("../Assets/Hero-bg.png");
    height: 450px; width: 100%;
}
.f{
    display: flex;
    justify-content: space-between;
    margin: 50px;
}
.g{
    height: 200px;width: 200px;
    border-radius: 10px;
}
.h{
    color: #FFFFFF;
    background-color: #4E47FF;
    margin: 0px;
    padding: 12px 35px; border-radius: 10px;
    border: none;
}
.j{
    text-align: center;
}
.k{
    font-size: 40px;
    font-weight: bold;
    color: #4E47FF;
}
.i{
    display: flex;
    justify-content: space-around;
}
.l{
    margin: 50px;
    background-color: mediumslateblue;
    padding: 10px 40px;
}
.p{
    display: flex;
    margin: 5px;
}
.s{
    height: 200px;width: 900px;
}
.im{
    border: none;
    border-radius: 10px;
}
.pic{
    border-radius: 50px;
}
.q{
    margin: 50px;
}
.o{
    display: flex;
    justify-content: space-around;
}
.r{
    text-align: center;
}